:root{
    --gry: #292929;
    --wht: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gry);
}
.button{
    background: transparent;
    outline: none;
    border: 5px solid var(--wht);
    border-radius: 2px;
    height: 60px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}
.button span{
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--wht);
    transition: 0.3s ease-in-out;
}
.button:before{
    content: attr(btn-hover);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--wht);
    opacity: 0;
    transform: translate(-100%, 0);
    transition: 0.3s ease-in-out;
}
.button:hover span{
    opacity: 0;
    transform: translate(100%, 0);
}
.button:hover:before{
    opacity: 1;
    transform: translate(0, 0);
}